@media screen and (max-width:1000px){
	.site-heading{
		text-align: center;
		width: 100%;
	}
	
	.site-nav{
		width: 100%;
		ul{
			width: 100%;
			text-align: center;
			li{
				float: none;
				display: inline-block;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}
	
	.site-header, .site-article{
		padding: 10px 20px;
	}
	.site-article .mask{
		left: 90px
	}
	
	.site-article{
		br{
			display: none;
			visibility: hidden; 
		}
	}
}

@media screen and (max-width:800px){
	
	.article-main-heading{
		font-size: 48px;
		line-height: 52px;
	}
	
	.col, .site-article .mask,
	.site-article .span_12{
		width: 100%;
		float: left;
		position: relative;
		display: block;
		left: 0px;
		margin: 0px;
	}
	
	.site-article .span_8{
		padding: 10px 60px;
	}
	
	.site-article{
		float: left;
		position: relative;
		display: block;
		padding-top: 120px;
		padding-bottom: 80px;
		height: auto;
		top: 0px !important;
		&.middle{
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	
	.site-article .mask{
		width: 100%;
		height: 400px;
		background-position: center center;
		@include background-size(contain);
	}
	
	.site-article input[type="text"]{
		@include box-sizing(border-box);
		margin: 0px;
		width: 100%;
	}
	
	.site-article input[type="text"] + .btn{
		width: 100%;
		text-align: center;
		margin-top: 20px;
		@include box-sizing(border-box);
	}
}

@media screen and (max-width:400px){
	.site-heading{
		font-size: 28px;
	}
	.site-nav ul li{
		font-size: 16px;
	}
}